@tailwind base;
@tailwind components;

.container {
  width: 85%;
  margin-inline: auto;
}

.scaleX-1 {
  transform: scaleX(-1);
}

.flex-1 {
  flex: 1;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 600;
  line-height: 110%; /* 35.2px */
}


.poppins {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.4px */
  letter-spacing: -0.28px;
  /* text-transform: capitalize;  */
}

.heading-playfair {
  font-family: theme("fontFamily.PlayFair");
  font-style: italic;
  font-size: clamp(40px, calc(40px + (56 - 40) * ((100vw - 350px) / (1024 - 350))), 56px);
  color: theme("colors.brown.100");
  font-weight: 700;
}



@tailwind utilities;

@layer utilities {

    .mx-auto {
        margin-inline: auto;
    }

    .fit-content {
      width: fit-content;
    }

    .subheading {
      font-family: theme("fontFamily.PlayFair");
      font-size: clamp(26px, 2.5vw, 32px);
      font-style: italic;
      font-weight: 700;
      line-height: 110%; /* 35.2px */
      letter-spacing: -1.28px;
      text-transform: capitalize;
    }

    .title-gallery-homepage {
      color: #FFF;
      text-align: center;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%; /* 26.4px */
      letter-spacing: -0.48px;
      text-transform: capitalize;
    }

    .clamp-playfair-md {
      font-size: clamp(20px, 2.5vw, 24px);
    }

    .clamp-poppins-normal {
      font-size: clamp(12px, 2vw, 16px);
    }

    .clamp-poppins-md {
      font-size: clamp(20px, 2.5vw, 24px);
    }

    .clamp-poppins-lg {
      font-size: clamp(24px, 2.5vw, 32px);
    }

    .clamp-price {
      font-size: clamp(16px, 2vw, 20px);
    }

    /* Services */

    .titleServices {
      @apply subheading my-4 py-4
    }

    .subTitleServices {
      @apply playfair clamp-poppins-md my-6
    }

    .itemServicesTitle {
      @apply clamp-poppins-md text-brown-100 font-bold
    }
 
    .itemServicesDescription {
      @apply clamp-poppins-normal font-normal
    }

    .itemServicesPrice {
      @apply clamp-price text-pink-300 font-bold
    }

    .itemServiceDuration {
      @apply clamp-price text-brown-100 font-bold

    }

    /* About */

    .border-image {
      box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1),
      0 4px 8px rgba(0, 0, 0, 0.1),
      0 8px 16px rgba(0, 0, 0, 0.1),
      0 16px 32px rgba(255, 77, 130, 0.4);
    }

    .border-bottom {
      border-bottom: 2px solid #ff99b4;
    }
    

  }

